/venv/
/hometask5/utils/__pycache__/
/hometask5/utils/image_toner/__pycache__/
/hometask5/utils/processor/__pycache__/
/hometask5/utils/reader/__pycache__/
/hometask5/utils/writer/__pycache__/
/hometask6/first/__pycache__/
/hometask6/second/__pycache__/
/hometask7/first/__pycache__/
/hometask7/second/__pycache__/
/hometask8/algorithms/__pycache__/
/hometask8/decoders/__pycache__/
/hometask8/encoders/__pycache__/
/hometask8/structures/__pycache__/
/hometask8/test_env/__pycache__/