/venv/
/venv2/
/1semester/hometask5/utils/__pycache__/
/1semester/hometask5/utils/image_toner/__pycache__/
/1semester/hometask5/utils/processor/__pycache__/
/1semester/hometask5/utils/reader/__pycache__/
/1semester/hometask5/utils/writer/__pycache__/
/1semester/hometask6/first/__pycache__/
/1semester/hometask6/second/__pycache__/
/1semester/hometask7/first/__pycache__/
/1semester/hometask7/second/__pycache__/
/1semester/hometask8/algorithms/__pycache__/
/1semester/hometask8/decoders/__pycache__/
/1semester/hometask8/encoders/__pycache__/
/1semester/hometask8/structures/__pycache__/
/1semester/hometask8/test_env/__pycache__/
/2semester/hometask2/__pycache__
/2semester/hometask3/data
